<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
<<<<<<< HEAD
        <a class="navbar-brand" href="/">後臺管理</a>
=======
        <a class="navbar-brand" href="#">Starymao 寵愛有家</a>
>>>>>>> 5a47c89371a6c3aab19ba4fe85a1966b68139d32
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
<<<<<<< HEAD
                <li class="nav-item active">
                    <a class="nav-link" href="/social_media/list">討論列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/social_media/add">新增討論</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">活動列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">新增活動</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <% if(sess.admin){ %>
                <li class="nav-item active">
                    <a class="nav-link"><%= sess.admin.nickname %></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/address-book/logout">登出</a>
                </li>
            <% } else { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/address-book/login">登入</a>
                </li>
            <% } %>
            </ul>

=======
                <li class="nav-item">
                    <a class="nav-link" href="/starymao/homepage">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/starymao/adoption">領養</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/starymao/store">商城</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/starymao/cart">購物車</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/starymao/social_media">社群</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/starymao/membership">會員</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(sess.admin){ %>
                    <li class="nav-item active">
                        <a class="nav-link"><%= sess.admin.nickname %></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/address-book/logout">登出</a>
                    </li>
                <% } else { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/address-book/login">登入</a>
                    </li>
                <% } %>
            </ul>
>>>>>>> 5a47c89371a6c3aab19ba4fe85a1966b68139d32
        </div>
    </div>
</nav>